<!DOCTYPE html>
<html>
<head>
  <title>Petsbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <%= link_to "Home", root_path %>
  <%= link_to "Pets", pets_path %>
  <%= link_to "People", people_path %>
</div>

<%= yield %>

</body>
</html>
